[user]
	name = todd.tilby
	email = todd.tilby@ericsson.com

[include]
    path = ~/.config/git/themes.gitconfig   # Needed for delta themes

[diff]
	tool = vimdiff
    colorMoved = default

[difftool "vimdiff"]
    path = nvim

# Not sure if this works yet, needs testing
# [difftool "nvimdiff"]
#     cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
	tool = diffconflicts
    conflictstyle = diff3

[mergetool "vimdiff"]
    path = nvim

[mergetool "diffconflicts"]
    # https://github.com/whiteinge/diffconflicts
    cmd = "nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\""
    trustExitCode = true

[mergetool]
	prompt = false
    keepBackup = false

[core]
    pager = delta

# delta configs
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true   # use n and N to move between diff sections
    dark = true
    features = Coldark-Dark
    line-numbers = true
# End delta configs
