#   Aliases
#   -----------------------------------------------------------

alias ls='ls -GFh'
alias ll='ls -FGlAhp'
alias la='ls -aGFh'
alias bashreload='source ~/.bash_profile'

# show 10 most used commands
alias muhistory='history | awk '"'"'{CMD[$2]++;count++;}END { for (a in CMD)print CMD[a] " " CMD[a]/count*100 "% " a;}'"'"' | grep -v "./" | column -c3 -s " " -t | sort -nr | nl | head -n10'

alias awsume="source awsume"
alias tls="tmux ls"
