[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-gitgutter"]
    path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".tmux/plugins/resurrect"]
	path = .tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/continuum"]
	path = .tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule ".tmux/plugins/yank"]
	path = .tmux/plugins/yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".tmux/plugins/tmux-mem-cpu-load"]
	path = .tmux/plugins/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
