[submodule ".tmux/plugins/resurrect"]
	path = .tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/continuum"]
	path = .tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule ".tmux/plugins/yank"]
	path = .tmux/plugins/yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".tmux/plugins/tmux-mem-cpu-load"]
	path = .tmux/plugins/tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule ".themes/zeta-zsh-theme"]
	path = .themes/zeta-zsh-theme
	url = https://github.com/skylerlee/zeta-zsh-theme.git
[submodule ".themes/zsh-spaceship-prompt"]
	path = .themes/zsh-spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "apps/diff-so-fancy"]
	path = apps/diff-so-fancy
	url = git@github.com:so-fancy/diff-so-fancy.git
